@import "tailwindcss";

.app-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  position:absolute;
  height: 75%; 
  width: 70%; 
  display: flex;
  background-color: #001a70;
  border-radius: 50px;
  align-items: flex-end;
  overflow: hidden;
  justify-content: right;
}

.spacesataas {
  position: relative;
  height: 15%;
  background-color: #001a70;
  z-index: 20;
}

.content-container {
  position:absolute;
  background-color: #ffffff;
  height: 100%;
  width: max-content;
  object-fit: fill;
  justify-content: center;
}

.text-container {
  position: relative;
  justify-content: flex-start;
  text-align: center;
  height: 80%;
  padding: 2%;
}

.body-text {
  position: relative;
  justify-content: flex-start;
  text-align: center;
  height: 60%;
}

.learnmore {
  position: absolute;
  bottom: 30%;
  right: 10%;
  width: 40%;
}

.boxes-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  z-index: 10;
  text-align: center;
  padding: 6%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}

.emptybox {
  width: 200;
  height: 20;
}
.box {
  background-color: #001a70;
  color: white;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 200;
  height: 70;
  box-shadow: 100%, black;
}

.box:hover {
  transform: scale(1.2);
}

.box:active {
  transform: scale(0.9);
}

