@import "tailwindcss";



.app-container {
  position: relative;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.containerbot {
  position: relative;
  height: 15vh;
  display: flex;
}

.boxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  z-index: 10;
  text-align: center;
}

.box {
  background-color: #001a70;
  color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 200;
}

.box:hover {
  transform: scale(1.1);
}

.box:active {
  transform: scale(0.9);
}

.logo-white {
  position: relative;
  padding: 30px;
}

.logo-blue {
  position: relative;
  padding: 30px;
}

.login {
  position: right;
  padding: 70px;
}
